In [1]:
import pandas as pd
import psycopg2

In [2]:
pd.__version__

'2.2.2'

In [3]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)
df = pd.read_parquet('yellow_tripdata_2024-07.parquet')

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [7]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [8]:
df.to_csv('yellow_tripdata_2024-07.csv', index=False)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2024-07.csv', iterator=True, chunksize=100000)

In [10]:
df_new = next(df_iter)

In [11]:
len(df_new)

100000

In [12]:
df_new.tpep_pickup_datetime = pd.to_datetime(df_new.tpep_pickup_datetime)
df_new.tpep_dropoff_datetime = pd.to_datetime(df_new.tpep_dropoff_datetime)

In [13]:
df_new

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2024-07-01 00:34:56,2024-07-01 00:46:49,1.0,3.20,1.0,N,140,79,1,15.6,3.50,0.5,3.50,0.00,1.0,24.10,2.5,0.00
1,2,2024-06-30 23:48:58,2024-07-01 00:28:04,1.0,19.48,2.0,N,132,113,2,70.0,0.00,0.5,0.00,0.00,1.0,75.75,2.5,1.75
2,2,2024-07-01 00:23:18,2024-07-01 00:29:51,1.0,1.18,1.0,N,237,145,1,8.6,1.00,0.5,2.72,0.00,1.0,16.32,2.5,0.00
3,1,2024-07-01 00:10:33,2024-07-01 00:27:31,0.0,9.10,1.0,N,138,164,1,36.6,10.25,0.5,12.05,0.00,1.0,60.40,2.5,1.75
4,1,2024-07-01 00:07:55,2024-07-01 00:34:34,1.0,17.70,2.0,N,132,263,1,70.0,1.75,0.5,10.00,6.94,1.0,90.19,0.0,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-07-02 11:48:35,2024-07-02 12:26:42,1.0,0.00,99.0,N,212,145,1,30.5,0.00,0.5,0.00,6.94,1.0,38.94,0.0,0.00
99996,1,2024-07-02 11:05:13,2024-07-02 11:22:31,1.0,2.10,1.0,N,142,140,1,14.2,2.50,0.5,4.55,0.00,1.0,22.75,2.5,0.00
99997,1,2024-07-02 11:47:09,2024-07-02 11:56:10,1.0,0.80,1.0,N,141,162,1,8.6,2.50,0.5,1.00,0.00,1.0,13.60,2.5,0.00
99998,2,2024-07-02 11:01:51,2024-07-02 11:07:31,1.0,0.54,1.0,N,237,141,1,7.2,0.00,0.5,5.00,0.00,1.0,16.20,2.5,0.00
99999,2,2024-07-02 11:37:00,2024-07-02 11:48:01,1.0,0.74,1.0,N,162,163,1,10.7,0.00,0.5,2.00,0.00,1.0,16.70,2.5,0.00

In [14]:
df_new.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [20]:
%time df_new.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 7.87 s, sys: 233 ms, total: 8.11 s
Wall time: 13.2 s

1000

In [15]:
from time import time

In [16]:
while True: 
    t_start = time()

    df_new = next(df_iter)

    df_new.tpep_pickup_datetime = pd.to_datetime(df_new.tpep_pickup_datetime)
    df_new.tpep_dropoff_datetime = pd.to_datetime(df_new.tpep_dropoff_datetime)
    
    df_new.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 13.341 second
inserted another chunk, took 13.239 second
inserted another chunk, took 13.418 second
inserted another chunk, took 13.238 second
inserted another chunk, took 13.336 second
inserted another chunk, took 13.411 second
inserted another chunk, took 13.277 second
inserted another chunk, took 13.291 second
inserted another chunk, took 13.222 second
inserted another chunk, took 13.222 second
inserted another chunk, took 13.476 second
inserted another chunk, took 13.337 second
inserted another chunk, took 13.312 second
inserted another chunk, took 13.296 second
inserted another chunk, took 13.402 second
inserted another chunk, took 13.380 second
inserted another chunk, took 13.343 second
inserted another chunk, took 13.519 second
inserted another chunk, took 13.261 second
inserted another chunk, took 13.545 second
inserted another chunk, took 13.224 second
inserted another chunk, took 13.405 second
inserted another chunk, took 13.347 second
inserted another chunk, took 13.565 second
inserted another chunk, took 13.259 second
inserted another chunk, took 13.363 second

/tmp/ipykernel_10125/3195848417.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_new = next(df_iter)

inserted another chunk, took 13.246 second
inserted another chunk, took 12.030 second
inserted another chunk, took 12.067 second
inserted another chunk, took 9.294 second

StopIteration:

In [35]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-15 23:57:02--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.113.61
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.113.61|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  910K=0.01s

2022-01-15 23:57:02 (910 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [36]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [38]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [42]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')